.footer {
  background-color: $colorPrimary;
  color: $fontColorPrimary;
  text-align: center;
  width: 100%;
  font-size: $fontSizePrimary;

  &__copyright {
    background-color: $colorDarker;
    color: $fontColorDark;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__sponsor {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__fac-img {
    margin-right: $lg;
  }

  &__sec-img {
    margin-left: $lg;
  }
}
