.footer {
  background-color: $darkColor;
  color: $lightColor;
  text-align: center;
  width: 100%;
  font-size: 10px;

  &__copyright {
    background-color: $darkestColor;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__sponsor {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
