.form {
  background: $colorLight;
  padding: 18px 32px;

  input:focus,
  textarea:focus {
    background-color: $colorSecondary;
    outline: none;
  }

  &__input {
    font-size: $fontSizeSecondary;
    background: $colorSecondary;
    border: 1px solid $colorDark;
    border-radius: 0;
    padding: 10px 15px;
    margin: 5px 0px;
  }

  &__input-container {
    position: relative;
    margin-bottom: -8px;
    margin-top: -5px;
  }

  &__input-file {
    margin-top: 5px;
  }

  &__input-label {
    position: absolute;
    display: none;
  }

  &__input-first {
    border-radius: 15px 15px 0 0;
  }

  &__input-last {
    border-radius: 0 0 15px 15px;
  }

  &__button {
    display: flex;
    margin-left: auto;
    margin-right: 0px;
  }

  &__progress-bar {
    font-size: $fontSizeSecondary;
    color: $colorPrimary;
  }
}
