.form {
  background: $colorLight;
  padding: 18px 32px;

  input:focus {
    background-color: $colorSecondary;
    outline: none;
  }

  &__input {
    background: $colorSecondary;
    border: 1px solid $colorDark;
    padding: 10px 15px;
    margin: 10px 0px;
  }

  &__input-container {
    position: relative;
  }

  &__input-label {
    position: absolute;
  }

  &__button {
    font-size: 1rem;
    margin: 0px;
  }
}
