.header {
  background-color: $colorPrimary;
  color: $fontColorPrimary;
  line-height: $hg;
  /* height: 96px; */

  &__full-width-row {
    height: 28px;
    background-color: $colorHighlight;
  }

  &__circle {
    position: absolute;
    height: 86px;
    width: 86px;
    border-radius: 43px;
    top: 35px;
    left: -5px;
    background: $colorPrimary;
    z-index: 1;
  }

  &__logo {
    position: absolute;
    top: 15px;
    z-index: 2;
  }

  &__flags-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  &__flag {
    align-self: flex-end;
    padding-left: $xs;
    padding-bottom: $xs;
    width: 45px;
  }

  &__social-media {
    border: solid $colorPrimary 13px;
    height: 61px;
    border-radius: 50px;
    display: inline;
    margin-bottom: -55px;
    margin-left: -11px;
  }

  &__nav {
    display: inline-block;
    line-height: 20px;
    vertical-align: bottom;
    padding-bottom: 5px;
  }

  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__li {
    display: inline;
  }

  &__item {
    text-transform: uppercase;
  }

  &__item:hover {
    text-decoration: none;
  }

  &__item--active.active {
    background-color: $colorHighlight;
    border-top-left-radius: 10px;
    padding: 10px;
    margin-left: 0;
  }

  &__item--padding {
    padding: 15px !important;
  }

  &__item--color.active {
    background-color: $colorSecondary;
  }

  &__link {
    color: $colorHighlight;
    padding: 0 7px;
  }

  &__link--color {
    color: $fontColorSecondary;
  }

  &__item--active.active > &__link--active {
    color: $fontColorHighlight;
    font-weight: bold;
  }

  &__item--active.active > &__link--border {
    border-right: none;
  }

  /* &__link--border {
    border-right: 1px solid $colorHighlight;
  } */

  &__container {
    background-color: $colorLight;
    text-align: center;
    padding-top: $lg;
  }
}
