.navbar {
  font-size: 11px;
  margin: 0;
  padding: 0;

  li {
    margin-top: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  &__tabs &__link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__brand {
    font-size: 30px;
    font-weight: 100;
  }

  &--dark {
    background-color: $darkColor;

    a {
      color: $midLightColor;
    }

    .navbar__tabs .navbar__link.active,
    .navbar__tabs .navbar__item.show .navbar__link {
      background-color: $midLightColor;
      color: $darkColor;
      border-color: $midLightColor;
    }
  }

  &--light {
    background-color: $midLightColor;

    a {
      color: $darkColor;
    }

    .navbar__tabs .navbar__link.active,
    .navbar__tabs .navbar__item.show .navbar__link {
      background-color: $lightColor;
      color: $darkColor;
      border-color: $lightColor;
    }
  }

  &__tabs &--left-tab {
    border-top-left-radius: 0.5rem;
  }

  &__tabs &--right-tab {
    border-top-right-radius: 0.5rem;
  }
}
