.section {
  margin: 0;
  padding-bottom: 65px;
  padding-top: 65px;

  &--light {
    background-color: $colorSecondary;
  }

  &--midLight {
    background-color: $colorLight;
  }

  &--no-bottom {
    padding-bottom: 0;
  }

  &--normal-padding {
    padding: $sm;
  }
}
