.card {
  background: $colorLight;
  border: none;

  &:hover {
    border: 4px solid $colorHighlight;
    border-bottom: 14px solid $colorHighlight;
    border-radius: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .card__btn--margin {
    margin-bottom: $xl;
  }
}
