header.background {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 5;
}
.settings {
    position: fixed;
    bottom: 0;
    right: calc(50% - 65px);
}

#prev {
    position: fixed;
    top: 50%;
    left: 25px;
}

#next {
    position: fixed;
    top: 50%;
    right: 25px;
}