.btn {
  font-size: $fontSizeSecondary;
  margin: 10px 20px;
  color: $fontColorPrimary;
  background-color: $buttonPrimary;
  border-radius: 0;

  &:disabled {
    color: $colorLight;
  }

  &:disabled:hover {
    color: $colorLight;
    background-color: $buttonPrimary;
  }

  &:hover {
    color: $fontColorPrimary;
    background-color: $colorHighlight;
  }

  &:active:enabled {
    color: $fontColorPrimary;
    background-color: $colorHighlight;
  }

  &--orange {
    background-color: $colorHighlight;
  }

  &--margin-small {
    margin: $xs;
  }
}
