/* Colors */
$colorPrimary: #414042;
$colorSecondary: #e6e7e8;
$colorHighlight: #cbcccc;
$colorDark: #323334;

/* Button Style */
$buttonPrimary: #8a8c8e;
$buttonSecondary: #111;
$buttonHover: #222;
$buttonActive: #333;
$buttonDisabled: #444;

/* Font Style */
$fontColorPrimary: #e6e7e8;
$fontColorSecondary: #111;
$fontColorHighlight: #414042;
$fontColorDark: #8a8c8e;

$fontSizePrimary: 16px;
$fontSizeSecondary: 12px;

$titleSizePrimary: 22px;
$titleSizeSecondary: 18px;

/* Spacing */
$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 64px;
$hg: 96px;
