/* Colors */
$colorLight: #dcd0c0;
$colorPrimary: #4e4e56;
$colorSecondary: #ebe5dc;
$colorHighlight: #da635d;
$colorDarker: #323334;
$colorSepia: #b1938b;

/* Button Style */
$buttonPrimary: #b1938b;
$buttonSecondary: #111;
$buttonHover: #222;
$buttonActive: #323334;
$buttonDisabled: #4e4e56;

/* Font Style */
$fontColorPrimary: #ebe5dc;
$fontColorSecondary: #323334;
$fontColorHighlight: #4e4e56;
$fontColorDark: #b1938b;

$fontSizePrimary: 16px;
$fontSizeSecondary: 12px;

$titleSizePrimary: 22px;
$titleSizeSecondary: 18px;

/* Spacing */
$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 64px;
$hg: 96px;
